<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Calendar Examples
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  
   <div class="ion-padding">
 
     <ion-calendar [(ngModel)]="date"
       (onChange)="onChange($event)"
       (select)="onSelect($event)"
       [type]="type"
       [options]="options"
       [format]="'YYYY-MM-DD'">
     </ion-calendar>
   </div>
 </ion-content>
 <ion-content>
 <div class="ion-padding">
  <button ion-button full >{{ dateNow }} + {{eventdate|date}}</button>
 </div>
</ion-content>

<ion-content>
 
  
  <div class="ion-padding">
   <ul>
     <li *ngFor="let book of books | async">
         <pre>{{ book | json }}</pre>
     </li>
 </ul>
 <button (click)="addBook()">Add a book!</button>
 <button (click)="filterBooks()">Filter books</button>
 </div>
</ion-content>

